ui.content/src/main/content/jcr_root/content/forms/af/ceci/fragments/sectorsMarketsFragment/_jcr_content/guideContainer/assets/xsdRef.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="account">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:boolean" name="gac_iscanadianorganization" />
                            <xs:element type="xs:boolean" name="egcs_yesnoforprofit" />
                            <xs:element type="xs:int" name="egcs_crabusinessnumber" />
                            <xs:element type="xs:string" name="gac_organizationshortname" />
                            <xs:element type="xs:string" name="gac_legalname_en" />
                            <xs:element type="xs:string" name="gac_legalname_fr" />
                            <xs:element type="xs:string" name="gac_operatingnamesameaslegalname" />
                            <xs:element type="xs:string" name="egcs_operatingname_en" />
                            <xs:element type="xs:string" name="egcs_operatingname_fr" />
                            <xs:element type="xs:string" name="description" />
                            <xs:element type="xs:string" name="egcs_mandate" />
                            <xs:element type="xs:int" name="egcs_telephone1" />
                            <xs:element type="xs:int" name="egcs_telephone1extension" />
                            <xs:element type="xs:string" name="egcs_generallanguagepreference" />
                            <xs:element type="xs:string" name="gac_aemid" />
                            <xs:element type="xs:string" name="address1_line1" />
                            <xs:element type="xs:string" name="address1_line2" />
                            <xs:element type="xs:string" name="address1_city" />
                            <xs:element type="xs:string" name="address1_country" />
                            <xs:element type="xs:string" name="address1_stateorprovince" />
                            <xs:element type="xs:string" name="address1_postalcode" />
                            <xs:element type="xs:string" name="gac_mailingaddresssameascivicaddress" />
                            <xs:element type="xs:string" name="address2_line1" />
                            <xs:element type="xs:string" name="address2_line2" />
                            <xs:element type="xs:string" name="address2_city" />
                            <xs:element type="xs:string" name="address2_country" />
                            <xs:element type="xs:string" name="address2_stateorprovince" />
                            <xs:element type="xs:string" name="address2_postalcode" />
                            <xs:element type="xs:string" name="gac_proposedstartdate" />
                            <xs:element type="xs:string" name="gac_proposedenddate" />
                            <xs:element type="xs:string" name="gac_applicantcountry" />
                            <xs:element type="xs:string" name="gac_applicantprovince" />
                            <xs:element type="xs:string" name="gac_fdistrategybackground" />
                            <xs:element type="xs:string" name="gac_departmentalalignment" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="contact">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="salutation" />
                            <xs:element type="xs:string" name="firstname" />
                            <xs:element type="xs:string" name="lastname" />
                            <xs:element type="xs:string" name="egcs_jobtitle_en" />
                            <xs:element type="xs:string" name="emailaddress1" />
                            <xs:element type="xs:int" name="telephone1" />
                            <xs:element type="xs:int" name="egcs_telephone1extension" />
                            <xs:element type="xs:string" name="egcs_generallanguagepreference" />
                            <xs:element type="xs:string" name="gac_organizationsigningauthority" />
                            <xs:element type="xs:string" name="gac_organizationsigningauthorityname" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="componentDetails">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="components">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="component" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="bodySection">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="exchangerate" />
                                                                <xs:element type="xs:string" name="gac_componentcategory" />
																<xs:element name="missions">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="missionItem" maxOccurs="unbounded" minOccurs="1">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element type="xs:string" name="name" />
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
                                                                <xs:element name="activities">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="activity" maxOccurs="unbounded" minOccurs="0">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="bodySection">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" name="gac_fdiactivitytype" />
                                                                                                    <xs:element type="xs:string" name="gac_fditargetmarket" />
                                                                                                    <xs:element name="fdiBudgetItems">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element name="budgetItem" maxOccurs="unbounded" minOccurs="0">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element name="bodySection">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type="xs:string" name="gac_activityexpensetype" />
                                                                                                                                        <xs:element type="xs:string" name="gac_amountrequested" />
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="workPlan">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="workPlanItem" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="component" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>